name: 'Publish Package to NPM'
description: 'Publishes the package to NPM registry and creates a GitHub release. Only triggers if the version tag does not already exist.'

on:
  workflow_call:
    inputs:
      npm_token:
        description: 'NPM authentication token'
        required: true
        type: string
      package_directory:
        description: 'Directory of the package to publish'
        type: string
        default: '.'

jobs:
  tag-and-release:
    
    permissions:
      contents: write
        
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          cache: "npm"
          registry-url: "https://registry.npmjs.org"

      - name: Get version from package.json
        id: pkg
        run: |
          cd ${{ inputs.package_directory }}
          echo "version=$(jq -r .version package.json)" >> $GITHUB_OUTPUT

      - name: Check if tag exists
        id: check_tag
        run: |
          if git ls-remote --tags origin | grep -q "refs/tags/v${{ steps.pkg.outputs.version }}$"; then
              echo "exists=true" >> $GITHUB_OUTPUT
              echo "::notice::Tag v${{ steps.pkg.outputs.version }} already exists. Skipping tag creation and release."
          else
              echo "exists=false" >> $GITHUB_OUTPUT
              echo "::notice::Tag v${{ steps.pkg.outputs.version }} does not exist. Proceeding to create tag and release."
          fi

      - name: Create tag
        if: steps.check_tag.outputs.exists == 'false'
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git tag "v${{ steps.pkg.outputs.version }}"
          git push origin "v${{ steps.pkg.outputs.version }}"

      - name: Create GitHub Release
        if: steps.check_tag.outputs.exists == 'false'
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ steps.pkg.outputs.version }}
          name: Release v${{ steps.pkg.outputs.version }}
          draft: false
          prerelease: false
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish NPM package
        if: steps.check_tag.outputs.exists == 'false'
        run: |
          npm ci

          cd ${{ inputs.package_directory }}
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}